/* TopBar Haut */
.topnav {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
	position: sticky;
	top: 0;
    box-shadow: 0px 5px 0px 0px #666666;
}
.topnav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

/* TopBar Milieu */
.midnav {
    background-color: #666666;
    display: flex;
    justify-content: space-between;
    padding: 10px;
	position: sticky;
	top: 56.5;
}
.midnav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

/* Font */
body {
    font-family: "Scoutie Sans";
}

/* Tooltip */
.hover-tooltip {
        border-bottom: 2px dotted #ffffff;
        border-color: white; 
        cursor: help;
    }
	
/* Background */
body.vert, body.bleu, body.violet {
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}
.pattern-background {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}

.pattern-background::before,
.pattern-background::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(5deg);
    transform-origin: center;
    pointer-events: none;
}

/* ---- VERT ---- */
.vert .topnav .active {
    background-color: #56bf8c;
    box-shadow: 0px -11px 0px 0px #56bf8c;
}
.vert .midnav .active {
    background-color: #65c273;
}
.vert .botnav {
    background-color: #209038;
    box-shadow: 0px -11px 0px 0px #20784c;
	color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
	min-height: 200px;
	height: auto;
}
.vert .botnav_alt {
    background-color: #3d9020;
    box-shadow: 0px -11px 0px 0px #207822;
	color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
	min-height: 200px;
	height: auto;
}
body.vert {
    background: #9bd49e;
    background: linear-gradient(
        160deg,
        rgba(155, 212, 158, 1) 0%,
        rgba(143, 154, 191, 1) 99%
    );
    background-attachment: fixed;
}
.vert .pattern-background::before {
    background-image:
        linear-gradient(#296e1f 3px, transparent 3px),
        linear-gradient(90deg, #296e1f 3px, transparent 3px);
    background-size: 100px 100px, 100px 100px;
    background-position: -3px -3px, -3px -3px;
    opacity: 0.25;
}
.vert .pattern-background::after {
    opacity: 0.15;
    background-image:
        linear-gradient(#296e1f 1px, transparent 1px),
        linear-gradient(90deg, #296e1f 1px, transparent 1px);
    background-size: 70px 70px, 70px 70px;
    background-position: -1px -1px, -1px -1px;
}

/* ---- BLEU ---- */
.bleu .topnav .active {
    background-color: #4792ad;
    box-shadow: 0px -11px 0px 0px #4792ad;
}
.bleu .midnav .active {
    background-color: #70adb3;
}
body.bleu {
    background: #8fb5bf;
    background: linear-gradient(
        160deg,
        rgba(143, 181, 191, 1) 0%,
        rgba(162, 143, 191, 1) 99%
    );
    background-attachment: fixed;
}
.bleu .pattern-background::before {
    background-image:
        linear-gradient(#1f516e 3px, transparent 3px),
        linear-gradient(90deg, #1f516e 3px, transparent 3px);
    background-size: 100px 100px, 100px 100px;
    background-position: -3px -3px, -3px -3px;
    opacity: 0.25;
}
.bleu .pattern-background::after {
    opacity: 0.15;
    background-image:
        linear-gradient(#1f516e 1px, transparent 1px),
        linear-gradient(90deg, #1f516e 1px, transparent 1px);
    background-size: 70px 70px, 70px 70px;
    background-position: -1px -1px, -1px -1px;
}

.cards-container {
    display: grid;
	color: #ffffff;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;            
    padding: 20px;
}

.botnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;       
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(28, 27, 128, 0.4);
    box-shadow: 0px -11px 0px 0px #38288a;
    font-size: 20px;
}

.botnav img, .botnav_alt img {
    max-height: 120px;
    width: auto;
    margin-left: 15px;
}

/* ---- VIOLET ---- */
.violet .topnav .active {
    background-color: #7570b3;
    box-shadow: 0px -11px 0px 0px #7570b3;
}
body.violet {
    background: #b17bd1;
    background: linear-gradient(
        160deg,
        rgba(177, 123, 209, 1) 0%,
        rgba(194, 99, 134, 1) 99%
    );
    background-attachment: fixed;
}
.violet .pattern-background::before {
    background-image:
        linear-gradient(#5c1e6a 3px, transparent 3px),
        linear-gradient(90deg, #5c1e6a 3px, transparent 3px);
    background-size: 100px 100px, 100px 100px;
    background-position: -3px -3px, -3px -3px;
    opacity: 0.25;
}
.violet .pattern-background::after {
    opacity: 0.15;
    background-image:
        linear-gradient(#5c1e6a 1px, transparent 1px),
        linear-gradient(90deg, #5c1e6a 1px, transparent 1px);
    background-size: 70px 70px, 70px 70px;
    background-position: -1px -1px, -1px -1px;
}